/* dark.css: 👉 light-on-dark */
:root {
  --color: #ffffff;
  --background-color: #393232;
}

#lightbtn {
  display:none;
  visibility: hidden;
}

#ghlightbtn {
  display:none;
  visibility: hidden;
}

#devlight {
  display:none;
  visibility: hidden;
}